@font-face{
    font-family: 'Metropolis';
    src: local('Metropolis-Regular'), url(assets/Assets/Fonts/Metropolis/Metropolis-Regular.otf) format('opentype');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: "Metroplis";
    src: local("Metropolis-Bold"), url(assets/Assets/Fonts/Metropolis/Metropolis-Bold.otf) format('opentype');
    font-weight: bold;
    font-style: bold;
  }